body,div,ul,li {
    margin:0;
    padding:0;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background: #fff;
    color:#333;
    font-size: 20px;
}

ol,ul,li {
    list-style:none;
}
input{
    font-size: 15px
}
html {
    overflow-x: hidden;
}
#keyboard{
    width: 4cm;
    font-size: 8px;
    position: fixed;
}
#keyboard li{
    width: 25%;
    height: 1cm;
    line-height: 1cm;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-left: none;
    border-bottom: none;
    float: left;
}